name: Scheduled Sync
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch: 

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync Fork
        uses: tgymnich/fork-sync@v2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: main      
          head: main      
          owner: Cod2rDude